@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="heading" class="w-full max-w-xl mx-auto text-center justify-center mb-8">

    <div class="badge badge-primary mb-2 inline-block">
        Discover & Organize
    </div>

    <h1 class="text-3xl md:text-4xl font-display font-medium mb-2">Your Restaurant Collection</h1>

    <p class="text-[#65758b]">
        Keep track of your favorite dining spots, organize by cuisine and location, and never forget that amazing place you discovered.
    </p>

</section>

<section id="filters" class="border rounded-lg p-4">
    <form action="" class="flex space-x-4 justify-between items-center">
        <div class="flex space-x-2 items-center">
            <div>
                <select name="Filter.Cuisine" id="Filter.Cuisine" class="w-40">
                    <option value="">Select Cuisine</option>
                    @foreach (var Cuisine in Model.Cuisines) {
                        <option value="@Cuisine">@Cuisine</option>
                    }
                </select>
                <small asp-validation-for="Filter.Cuisine"></small>
            </div>
    
            <select name="Filter.Location" id="Filter.Location" class="w-40">
                <option value="">Select Location</option>
                @foreach (var Location in Model.Locations) {
                    <option value="@Location">@Location</option>
                }
            </select>

            <button class="btn btn-primary text-base">Filter</button>
        </div>
    
        <div class="flex space-x-2 items-center">
            <button class="text-gray-500">
                <span>&times;</span> <span class="text-sm">Clear Filters</span>
            </button>
        </div>
    </form>
</section>

<section id="restaurants" class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4 !mt-4">
    @if (Model.Restaurants.Count <= 0) {
        <div class="rounded-lg border col-span-3 p-8 flex flex-col items-center justify-center">
            <p class="font-semibold text-lg">No restaurants found</p>
            <p class="text-gray-500">Start by adding a restaurant</p>
        </div>
    } else {
        @foreach (var restaurant in Model.Restaurants) {
            <partial name="_RestaurantCard" model="restaurant" />
        }
    }
</section>